* {
  box-sizing: border-box;
}

.bbHighlighted {
  color: red;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.8);
  font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
}

h1,
h2,
h3 {
  color: rgba(0, 0, 0, 0.84);
}

.preview-container {
  display: flex;
  justify-content: center;
}

.preview-content {
  max-width: 768px;
  padding: 15px;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 18px;
}
